body {
  color: #fff;
}

a {
  color: #03A9F4;
}

h1 {
  color: white;
}

main {
  padding: 1em;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 50px;
  display: block;
  video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat;
    background-size: cover;
    transition: 1s opacity;
  }
}